body{
    background:#ebebe0;
}
#room-details{
    margin-top: 4rem;
    background: cornsilk;
    border-radius: 2em;
}

#Display{
    margin-top: 3rem;
    background: cornsilk;
    border-radius: 2em;
}

#complaint{
    margin-top: 5rem;
    background: cornsilk;
    border-radius: 2em;
}

button{
    align-items: center;
}

#Display{
    background: cornsilk;
}