body{
    font-family: "Baloo Paaji 2",cursive;
    font-weight: 500;
    background-color: #ebebe0;
}
.row1{
    margin-top: 7rem;
    margin-bottom: 3rem;
    border-radius: 1rem;
    max-width: 700px;
}